.Paragraph {
  margin: 50px auto 0px auto;

  padding: 50px 50px;
  width: 1100px;
  background: #e8e8e8;
  box-sizing: border-box;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
}

.Paragraph img {
  max-width: 500px;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.Paragraph p:first-child {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Paragraph p {
  margin: 5px 0px 0px 0px;
  font-size: 25px;
  text-align: center;
}
