.ContainerBox {
  width: 850px;
  padding-left: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-content: space-around; */
}

.LinkContainer {
  width: 375px;
  height: 250px;
  border-radius: 20px;

  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;

  padding: 0;
  border: none;
  transition: transform 0.5s;

  text-decoration: none;
  color: black;
}

.LinkContainer img {
  width: 375px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.LinkContainer div {
  position: relative;
  bottom: 50px;
  left: 42.5px;

  width: 290px;
  min-height: 50px;
  background: #e8e8e8;
  border-radius: 20px;

  text-align: center;
  justify-content: center;
  font-size: 30px;

  padding: 0;
  border: none;
  transition: transform 0.5s;
}

.LinkContainer p {
  margin: 0;
  padding: 0px 5px 0px 5px;
}

.LinkContainer p:first-child {
  padding-top: 7.5px;
}

.LinkContainer:hover,
.LinkContainer:focus {
  transform: scale3d(1.1, 1.1, 1);
}

.LinkContainer:hover::after,
.LinkContainer:focus::after {
  opacity: 1;
}
